<!-- Head of the site - meta info and importing stuff -->

<head>

    <title>Hardware Exchange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/queries.css" rel="stylesheet" type="text/css">
    
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/script.js"></script>

    
</head>