<!-- centered search box -->            
            
            <div class="row">
                <div class="search-wrapper">
                    <input type="text" placeholder="Find hardware" class="search-box" required>
                    <div class="sub-btn"><button><img src="img/icons/search.svg"></button></div>
                </div>
            </div>