/* -------- Setup -------- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

a {

    text-decoration: none;
}


/* -------- Headers -------- */


.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/logo.JPG");
    background-size: cover;
    height: 100vh;
    
}

h2 {
    
    width: 50%;
    margin: 30px 0 60px 25%;
    padding-bottom: 20px;
    border-bottom: 2px solid #e07519;
    text-align: center;
    
    
}


/* -------- Reusable parts -------- */


.row {
    
    width: 1140px;
    margin: 0 auto;
}


/* -------- Logo -------- */


h1 {
    display: inline-block;
    font-family: 'Varela Round', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 200%;
    color: #fff;
}

.orange {color: #e07519; }

.hamburger-menu {display: none; }


/* -------- Navigation -------- */


nav .row {padding-top: 45px; }


.main-nav {
    
    list-style: none;
    display: inline-block;
    float: right;
    margin-top: 12px;
}

.main-nav li {
    
    float: left;
    margin: 0 50px;
    display: inline-block;
}

.main-nav li a {
    
    font-size: 110%;
    color: #fff;
}




/* -------- Buttons -------- */




.search-box-main {
    
    padding: 20px;
    width: 50%;
    vertical-align: top;
    font-size: 80%;
    margin-left: 25%;
}


.btn-search {
    
    background-color: #e07519;
    height: 100%;
    width: 62px;
    margin-left: -5px;
    border: none;
    cursor: pointer;
}

.btn-search img {transform: scale(0.65); }

.main-search {
    
    margin-top: 50vh;
    height: 62px;
    
}



/* -------- Image Section -------- */


.img-box {
    
    width: 250px;
    margin: 0 65px;
    margin-bottom: 30px;
    display: inline-block;
    float: left;
    overflow: hidden;
    
}


/* -------- Image Title -------- */




.img-title {
    
    font-weight: 400; 
    overflow: hidden;
    display: inline-block;
}

.title-info {
    
    margin-top: 4px;
    border-bottom: 2px solid #cecece;
    padding-bottom: 1px;
    
}

.img-desc {
    
    color: #6a6a6a;
    font-size: 75%;
    max-width: 100%;
    
}

.status-box {
    
    padding: 3px;
    display: inline-block;
    float: right;
    font-size: 75%;
    background-color: #1af72c;
    border-radius: 3.5px;
}



/* -------- Mobile nav -------- */

.mobile-nav {
        
    display: none;  
    background-color: #393939;
    margin-top: 10px;
}
    
.mobile-nav a {

    display: block;
    color: #fff;
    padding: 15px 10px;

}

.mobile-nav a:hover {

    background-color: #535353;
}
