<!-- header for the top of the page -->

    <header>

        <div class="background-image">

            <nav>
            
                <div class="row">
                
                    <div id="page-header-text"><a href="/">hardware <span class="orange">exchange</span></a></div>
                      
                    <ul class="main-nav">
                        <li><a href="/login">Log in </a></li>
                        <li><a href="/register">Register</a></li>
                        <div class="hamburger-menu enlarge"></div>
                    </ul> 

                </div>

                

            </nav>



            <div class="btn-container center-box">
                <div class="centered">
                    <button class="enlarge largepad"><a href="/register">Register for an account now!</a></button>
                </div>
            </div>



        </div>
        
            
        
    </header>