/* -------- Setup -------- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

ul {list-style: none;}

a {text-decoration: none; }


/* -------- Logo & Headers -------- */


#page-header-text {display: inline-block; }

#page-header-text a {
    font-family: 'Varela Round', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 200%;
    font-weight: 600;
    color: #fff;
}


.orange {color: #e07519; }

.hamburger-menu {display: none; }

h1 {
    font-size: 240%;
    transform: translate(0, 15%);
    float: right;
}

h2 {
    font-size: 180%;
    text-align: center;
    margin-bottom: 20px;
}


.header-box {
    display: inline-block;
    transform: translate(-50%, 0); 
    margin-left: 50%;
    margin-top: 10%;
}


/* -------- Reusable units -------- */


.row {
    
    width: 1140px;
    margin: 0 auto;
    padding: 15px;
}

.icon-box {
    float: left;
    margin-right: 30px;
    background-image: url("../img/placeholders/download.jpeg");
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}


.icon-box img {
    
    overflow: hidden;
    
}



/* -------- Navigation -------- */


nav {background-color: #000; }

.main-nav {
    
    list-style: none;
    float: right;
    transform: translate(25%, 50%);
}

.main-nav li {
    
    float: left;
    margin: 0 50px;
    
}

.main-nav li:last-of-type {
    margin-right: 0;
}

.main-nav li a {
    
    font-size: 105%;
    color: #fff;
    
}


/* -------- Mobile Navigation -------- */

.hamburger-menu {
    width: 40px;
    height: auto;
    float: right;
    margin-right: 30px;
    cursor: pointer;
    transition: transform 0.3s;
    
}

.hamburger-menu:hover {
    transform: scale(1.15);
}

/* -------- Information for users' personal pages -------- */

#account-details .row:first-of-type {
    margin-bottom: 100px;
}

.info-box {
    clear: both; 
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
}


.info-box div {
    color: #bfbfbf;
    font-size: 90%;
    display: inline-block;
}

.info-box div span {
    display: block; 
    margin-top: 5px;
}


.info-box div:last-of-type {
    float: right;

}

/* -------- Call to action button -------- */



.sub-btn {

    display: block;
    margin: 0 auto;
    padding: 20px 25px;
    font-size: 110%;
    margin-top: 80px;
    border-radius: 10px;
    background-color: #e07519;
    color: white;
    border: none;
    transition: transform 0.3s;
    cursor: pointer;
}

.sub-btn:hover {
    transform: scale(1.1);
}



/* -------- "Your items" section  -------- */

#added-items .row:first-of-type {
    margin-bottom: 80px;
}

.item-holder {
    overflow: hidden;

}


.item-view {
    float: left;
    margin: 35px;
    width: 300px;
    height: auto;
}


/* -------- Classes for processing in JS -------- */


.hidden {display: none; }

.nav-active {width: 100%; }

.msg-text { color: #930202;}

.msg-link { color: #e07519;}
