/* -------- Setup -------- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

a {text-decoration: none; }


/* -------- Logo -------- */


#page-header-text {display: inline-block; }

#page-header-text a {
    font-family: 'Varela Round', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 200%;
    font-weight: 600;
    color: #fff;
}


.orange {color: #e07519; }

.hamburger-menu {display: none; }


/* -------- Reusable units -------- */


.row {
    
    width: 1140px;
    margin: 0 auto;
    padding: 15px;
}


/* -------- Navigation -------- */



nav .row {
    padding-top: 15px;
    background-color: #000;

}


.main-nav {
    
    list-style: none;
    float: right;
    
}

.main-nav li {
    
    float: right;
    margin: 0 40px;
}

.main-nav li:last-of-type {
    margin-right: 0;
}

.main-nav li a {
    
    font-size: 110%;
    color: #fff;
}


/* -------- Mobile Navigation -------- */

.hamburger-menu {
    width: 40px;
    height: auto;
    float: right;
    margin-right: 30px;
    cursor: pointer;
    transition: transform 0.3s;
    
}

.hamburger-menu:hover {
    transform: scale(1.15);
}

/* -------- Registration form -------- */

.input-box {
    
    margin-bottom: 25px;
    overflow: hidden;
}

.sub-btn {
    overflow: visible;
}


.input-box input {
    
    padding: 15px;
    float: right;
}

.input-box p {
    
    float: left;
    margin-right: 20px;

}

input[type=submit] {
   
    
    background-color: #e07519;
    border: none;
    transition: background-color, transform 0.3s;
    color: #fff;
    cursor: pointer;
    padding: 15px 20px;
    margin: 20px 0 10px 0;
    border-radius: 3px;
    font-size: 90%;
}

input[type=submit]:hover {
    
    background-color: #b96115;
}



.center-box {

    margin-left: 50%;
    margin-top: 10%;
    transform: translate(-50%);
    display: inline-block;
}


h2 {
    
    font-weight: 600;
    margin-bottom: 40px;
    margin-left: 50%;
    transform: translate(-50%);
    display: inline-block;

}

/* -------- Classes for processing in JS -------- */


.hidden {display: none; }

.nav-active {width: 100%; }