@media only screen and (min-width: 1140px) {
    
    .hamburger-menu {display: none; }

}

/*
    Adjustments to row width for screens that are smaller than the average desktop screen but larger
    than the screens of most mobile devices
*/

@media only screen and (max-width: 1139px) and (min-width: 768px) {

    .center-box {width: 60%; }

    .header-box h1 {font-size: 180%; }
    
    .row {width: 100%; }

    #page-header-text {margin-left: 30px; }
    
    
    .img-box {

        width: 30%;
        margin: 0 10%;
        margin-bottom: 30px;

    }
    
    .main-nav li a {font-size: 105%; }

    .input-box textarea {
        width: 560px;
        height: 260px;
    }

    /* set margin to a quarter of the width of the screen, minus the width of the image */

    .item-view {
        margin: 0 calc(25% - 150px) 80px calc(25% - 150px);
    }

}




/*  --------------------------------------------------------------------------
    navbar on smaller screens, but larger than those that use the mobile view 
    --------------------------------------------------------------------------
*/




@media only screen and (max-width: 864px) and (min-width: 768px) {

    .input-box textarea {
        width: 440px;
        height: 200px;
    }

    .main-nav li {

        margin: 0 75px;
        font-size: 95%;

    }

    #page-header-text a {
        font-size: 180%;
    }

    .center-box {
        width: 65%;
    }

}




/*  -----------------------------------------------------------------------------
    Media queries for phones and tablets - most of the adjustments are made here 
    -----------------------------------------------------------------------------
*/





@media only screen and (max-width: 768px) {
    
    /* -------- row sizing -------- */

    .row {
        width: 100%;
    }


    /* -------- HW exchange logo at the top of the page & other headers -------- */



    #page-header-text {margin-left: 30px; }

    #page-header-text a {font-size: 150%; }

    .fullimg-navbar {padding-top: 0; }

    h1 {
        font-size: 180%;
     }


    /* -------- Mobile navigation - text formatting --------  */
    
    
    nav .row {
        
        z-index: 1;
        padding: 15px 0;
        
    }


    .main-nav {
        transform: translate(0, 0); 

    }


    .main-nav li {

        float: none;
        margin: 0;
    }


    .main-nav.nav-active {

        margin-top: 15px;
    }


    .main-nav.nav-active li a {
        padding: 15px;
        float: right;
        clear: both;
        margin-right: 15px;
        transition: transform 0.3s;
        font-size: 90%;
    }

    .main-nav.nav-active li a:hover {
        transform: scale(1.15);
    }
    

    .main-nav.nav-active .hamburger-menu {
        top: -48%;
    }


    /* -------- containers for item displays -------- */



    .img-box {
        
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    
    .img-box img {
        width: 80%;
        margin-left: 10%; 
    }

    .icon-box {
        float: none;
        margin-left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 30px;
    }

    .box {font-size: 90%; }

    .center-box {
        width: 70%;
    }


    /* -------- Size of the text area on smaller screens -------- */

    .input-box textarea {
        padding: 15px;
        width: 360px;
        height: 160px;
    }

    /* -------- Size of image boxes for the 'your items' section -------- */

    .item-view {
        margin: 0 0 80px 50%;
        transform: translate(-50%, 0);
    }


}




/* -----------------------------------------------------------------
   Adjustments for very small screens, such as those on phones
   ----------------------------------------------------------------- */




@media only screen and (max-width: 648px) {

    /*
    ========
    Headings 
    ========
    */



    h1 {
        font-size: 140%;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 120%;
    }

    

    #page-header-text a {

        font-size: 115%;

    }

    #added-items .row:first-of-type {
        margin-bottom: 40px;
    }

    #account-details .row:first-of-type {margin-bottom: 30px; }

    /* 
    
    ============================
    Box sizing for small screens
    ============================
    
    */



    .background-image .btn-container.center-box {
        position: absolute;
        bottom: 125px;
        right: 8.75%;
        transform: scale(1.2);

    }

    .box {
        float: none;
        display: block;
    }

    .center-box {
        width: 80%;
        margin-left: 20%;
        transform: translate(-10%);
    }

    .info-box {
        border-top: 1px solid #a5a5a5;
        border-bottom: 1px solid #a5a5a5;
        padding: 25px 0;
        margin-bottom: 10px;
    }

    .info-box div {
        display: block;
        margin: 20px 0 20px 0; 
    }

    .info-box div:last-of-type {
        float: none;
        margin-top: 25px;
    }

    .input-box {
        width: 100%;
        height: auto;
    }

   .input-box p {
        font-size: 90%;
        float: none;
        margin-bottom: 15px;
    }

    .input-box.sub-btn {
        right: 0;
    }



    /*

    =============
    Button sizing
    =============

    */


    .largepad {
        padding: 25px 17.5px;
        border-radius: 30px;
        font-size: 80%;
    }

    .med-btn {
        width: 45px;
        height: 45px;
    }

    .sub-btn {
        width: 70%;
        height: 80px;
    }

    .sub-btn button a {
        font-size: 65%;
        font-weight: 600;
    }

    .sub-btn.large-btn button {
        padding: 10px;
    }



    /*

    ===========
    Input boxes
    ===========

    */



    .input-box textarea {
        width: 100%;
        height: 360px;
    }

    @media only screen and (max-width: 400px ) {

        .item-view {
        
            transform: scale(0.8);
            margin-left: 10%;
            margin-bottom: 25px;
        }

    }

    /*
    
    ======
    Images
    ======
    
    */



    .img-btn {
        width: 35px;
        height: 35px;
        margin-top: 14.5px;
    }


    /*

    ==========
    Properties
    ==========

    */





}




