/*
    ====================
    Stuff for every page 
    ====================
*/



/* -------- Setup -------- */


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {display: none;}  

body {

    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

ul {list-style: none; }
ul li {transition: transform 0.3s; }

a {

    text-decoration: none; 
    color: white;
}

button {

    border: none;
    background-color: #e07519;
    cursor: pointer;
    transition: transform 0.3s;
}

/* -------- Headers -------- */


.background-image {

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/logo.JPG");
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-top: -118px;
    margin-bottom: 70px;
}

h1 {

    font-size: 240%;
    float: right;
    font-weight: 600;
}

h2 {
    
    font-weight: 600;
    margin-left: 50%;
    transform: translate(-50%);
    display: inline-block;

}

/* black background for pages that use it */

.black-background {background-color: #000; }

/* Lower main nav bar for index page & pages with full screen image */

nav .row {z-index: 1; }

header .row {position: relative; }

.fullimg-navbar {padding-top: 30px; }

/* -------- Reusable parts -------- */

 
.row {
    
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.centre-wrapper {height: 100%; }


/* -------- Logo -------- */

#page-header-text {display: inline-block; }

#page-header-text a {
    font-family: 'Varela Round', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 200%;
    font-weight: 600;
    color: #fff;
}


.orange {color: #e07519; }

.hamburger-menu {display: none; }


/* -------- Navigation -------- */


nav .row {padding: 20px 0; }


.main-nav {
    
    list-style: none;
    float: right;
    transform: translate(0, 50%);
    
}

.main-nav li {
    
    float: right;
    margin: 0 40px;
}

.main-nav li:last-of-type {margin-right: 0; }

.main-nav li a {
    
    font-size: 110%;
    color: #fff;
}

/* -------- Mobile Navigation -------- */

.hamburger-menu {
    width: 40px;
    height: auto;
    float: right;
    margin-right: 30px;
    cursor: pointer;
    transition: transform 0.3s;
    
}

.hamburger-menu:hover {transform: scale(1.15); }



/* ************************* */
/* -------- Buttons -------- */
/* ************************* */



/* ** sub-btn (call to action) settings ** */

.sub-btn { /* container for buttons */
    position: absolute;
    display: inline-block;
    height: auto; 
    width: auto;
}

.sub-btn button { /* actual button contained by the sub-btn class */
    border-radius: 20px;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 100%;
}
.sub-btn img {
    width: 40px;
    height: 40px;
}

/* larger button for homepage */

.large-btn { 
    width: auto;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.homepg-btn {
    top: 70vh;
}

.sub-btn.large-btn button {
    box-shadow: 5px 5px 5px #000;
    padding: 25px 17.5px;
    font-size: 110%;
    transition: transform 0.3s;
    font-weight: 400;
}

.large-btn img {
    width: 100%;
    height: 100%;
}


/* other button properties */

.circle-btn {border-radius: 50%; }

.img-btn {width: 100%; height: 100%; }

/* sizes of button */

.med-btn {
    width: 75px;
    height: 75px;
}

.btn-holder {
    position: absolute; 
    top: 12px;
    right: 60px;
}

.enlarge:hover {
    transform: scale(1.15);
}


/*

    ============
    Account page
    ============
    
*/


#account-details .row:first-of-type {margin-bottom: 100px; }

.info-box {
    clear: both; 
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
    margin-bottom: 100px;
}


.info-box div {
    color: #bfbfbf;
    font-size: 90%;
    display: inline-block;
}

.info-box div span {
    display: block; 
    margin-top: 5px;
}


.info-box div:last-of-type {
    float: right;

}

.info-box img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-top: 5px;
}


.header-box {
    display: inline-block;
    transform: translate(-50%, 0); 
    margin-left: 50%;
    margin-top: 10%;
}

/* -------- Inputs -------- */


input[type=submit] {
    
    background-color: #e07519;
    border: none;
    transition: transform 0.3s;
    color: #fff;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 3px;
    font-size: 90%;
}

input[type=submit]:hover {
    transform: scale(1.15);
}

/* 
    ===========================================
    Repeater for items on the account/main page
    ===========================================
*/



#added-items .row:first-of-type {
    margin-bottom: 80px;
    padding: 30px 0;
}

.item-holder {overflow: hidden; }

.item-view {
    float: left;
    margin: 35px;
    width: 300px;
    height: auto;
}


.img-container {
    background-image: url("../img/placeholders/download.jpeg");
    background-size: cover;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.title-container {
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
}

.desc-container {

    font-size: 75%;
    margin-top: 10px;
    color: #888;
}

.desc {
    height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
}


.img-title {
    display: inline-block;
}

.comp-type {
    float: right;
}



/*
    =====================
    Boxes - central boxes
    =====================
*/


/* -------- Registration form -------- */

.input-box {
    
    margin-bottom: 25px;
    overflow: hidden;

}

.input-box input {
    
    padding: 15px;
    float: right;

}

.input-box input, select {
    width: 100%;
}

.input-box input[type="submit"] {
    width: auto;
}

.input-box p.no-float {
    float: none;
}

.input-box p {
    
    float: left;
    margin-right: 25px;
    margin-bottom: 5px;

}

.input-box.sub-btn {
    overflow: visible;

}

.center-box {

    margin-left: 50%;
    margin-top: 120px;
    transform: translate(-50%);
    display: inline-block;
}

.center-box h2 {
    margin-bottom: 30px;
}

/* 
    =============
    Add item form
    ============= 

*/

.input-box textarea {
    padding: 15px;
    width: 640px;
    height: 300px;
}


/* 

    ============================
    Classes for processing in JS
    ============================

*/


.hidden {display: none; }

.nav-active {width: 100%; }

.msg-text { color: #930202;}

.msg-link { color: #e07519;}


