/*
    ====================
    Stuff for every page 
    ====================
*/



/* -------- Setup -------- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

ul {list-style: none;}

a {text-decoration: none; }


/* -------- Headers -------- */


.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/logo.JPG");
    background-size: cover;
    height: 100vh;
    
}

h2 {
    
    font-weight: 600;
    margin-left: 50%;
    transform: translate(-50%);
    display: inline-block;

}

/* black background for pages that use it */

.black-background {
    background-color: #000;
}


/* -------- Reusable parts -------- */


.row {
    
    width: 1140px;
    margin: 0 auto;
}


/* -------- Logo -------- */

#page-header-text {display: inline-block; }

#page-header-text a {
    font-family: 'Varela Round', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 200%;
    font-weight: 600;
    color: #fff;
}


.orange {color: #e07519; }

.hamburger-menu {display: none; }


/* -------- Navigation -------- */


nav .row {
    padding: 17.5px 0; 
}


.main-nav {
    
    list-style: none;
    float: right;
    transform: translate(0, 50%);
    
}

.main-nav li {
    
    float: right;
    margin: 0 40px;
}

.main-nav li:last-of-type {
    margin-right: 0;
}

.main-nav li a {
    
    font-size: 110%;
    color: #fff;
}

/* -------- Mobile Navigation -------- */

.hamburger-menu {
    width: 40px;
    height: auto;
    float: right;
    margin-right: 30px;
    cursor: pointer;
    transition: transform 0.3s;
    
}

.hamburger-menu:hover {
    transform: scale(1.15);
}



/* 
    ===============
    Main page stuff
    ===============
*/



/* -------- Buttons -------- */


.search-box-main {
    
    padding: 20px;
    width: 50%;
    vertical-align: top;
    font-size: 80%;
    margin-left: 25%;
}


.btn-search {
    
    background-color: #e07519;
    height: 62px;
    width: 62px;
    margin-left: -5px;
    border: none;
    cursor: pointer;
}

.btn-search img {transform: scale(0.65); }

.main-search {
    
    margin-top: 50vh;
    transform: translate(0, -50%);
    height: 62px;
    
}

/*
    ============
    Account page
    ============
*/


#account-details .row:first-of-type {
    margin-bottom: 100px;
}

.info-box {
    clear: both; 
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
}


.info-box div {
    color: #bfbfbf;
    font-size: 90%;
    display: inline-block;
}

.info-box div span {
    display: block; 
    margin-top: 5px;
}


.info-box div:last-of-type {
    float: right;

}

.info-box img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-top: 5px;
}

#accountName {
    font-size: 240%;
    transform: translate(0, 15%);
    float: right;
    font-weight: 600;
}

.header-box {
    display: inline-block;
    transform: translate(-50%, 0); 
    margin-left: 50%;
    margin-top: 10%;
}

/* -------- Call to action button -------- */



.sub-btn {

    display: block;
    color: white;
    border: none;
    transition: transform 0.3s;
    cursor: pointer;

}

.sub-btn input {
    float: right;
}

input[type=submit] {
   
    
    background-color: #e07519;
    border: none;
    transition: transform 0.3s;
    color: #fff;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 3px;
    font-size: 90%;
}

input[type=submit]:hover {
    transform: scale(1.15);
}



/* 
    ===========================================
    Repeater for items on the account/main page
    ===========================================
*/



#added-items .row:first-of-type {
    margin-bottom: 80px;
}

.item-holder {
    overflow: hidden;

}

.item-view {
    float: left;
    margin: 35px;
    width: 300px;
    height: auto;
}


.img-container {
    background-image: url("../img/placeholders/download.jpeg");
    background-size: cover;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.title-container {
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
}

.desc-container {

    font-size: 75%;
    margin-top: 10px;
    color: #888;
}

.desc {
    height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
}


.img-title {
    display: inline-block;
}

.comp-type {
    float: right;
}



/*
    ==========
    Login page 
    ==========
*/


/* -------- Registration form -------- */

.input-box {
    
    margin-bottom: 25px;
    overflow: hidden;

}

.input-box:last-of-type {
    margin-top: 40px;
}

.input-box input {
    
    padding: 15px;
    float: right;
}

.input-box p {
    
    float: left;
    margin-right: 25px;
    transform: translate(0, 50%);

}

.input-box.sub-btn {
    overflow: visible;
}

.center-box {

    margin-left: 50%;
    margin-top: 120px;
    transform: translate(-50%);
    display: inline-block;
}

.center-box h2 {
    margin-bottom: 30px;
}



/* 
    ============================
    Classes for processing in JS
    ============================

*/


.hidden {display: none; }

.nav-active {width: 100%; }

.msg-text { color: #930202;}

.msg-link { color: #e07519;}


