<!DOCTYPE html>

<html>
    {{> head}}

    <body>

        {{> header}}

        <div class="row">
            <div class="center-box">

                <h1>Your item has been added.<br /><br /><br /></h1>
                <p><a class="text-link" href="/">Return to the homepage</a> or view your item.</p>

            </div>
        </div>


    </body>



</html>