<!DOCTYPE html>

<html>
    
    {{> head}}

    <body>

        {{> header}}

        
        <div class="center-box">

            <h2>Add item</h2>

            <!-- the form to add the item to the server -->

            <form method="post" action="/addItem">

                <div class="input-box">
                    <p>Title:</p>                   
                    <input type="text" name="title" required>
                </div>
                <div class="input-box">
                    <p class="no-float">Description:</p>                    
                    <textarea name="description" placeholder="Add a description..."></textarea>
                </div>
                <div class="input-box">
                    <p>Item type:</p>
                    <select name="itemType">
                        <option value="CPU">CPU</option>
                        <option value="GPU">Graphics Card</option>
                        <option value="RAM">RAM</option>
                        <option value="Case">Case</option>
                    </select>
                </div>

                <div id="msg"></div>

                <div class="input-box sub-btn">
                    <input type="submit" value="Add item">
                </div>

            </form>

        </div>
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../js/script.js"></script>

    </body>

</html>