<!DOCTYPE html>

<html>

    {{> head}}

    <body>
        
        {{> header}}

        <div class="background-image">
            <div class="row">
                <div class="sub-btn large-btn">
                    <button><a href="/register">Register for an account now!</a></button>
                </div>
            </div>
        </div>
        



        <div class="row"><h2>Recent Additions</h2></div>
        

        <section class="images">
            <div class="row" id="elem"></div>
        </section> 


        <script>

            // grab email from cookie and show on page

            function getCookie(name) {
                var value = "; " + document.cookie;
                var parts = value.split("; " + name + "=");
                if (parts.length == 2) return parts.pop().split(";").shift();
            }

            var email = getCookie('email');
            $('#email').html(decodeURIComponent(email));


            /*  
                -----------------------------------------------------------------------------------------------------------------------
                GET /component for the logged in user - need to check the cookie for email, then check in the database for the user ID,
                then return a list of all components that the user has added by their ID.
                -----------------------------------------------------------------------------------------------------------------------
            */  


            // get user ID by their email


            $.get("/partslist", (list) => {

                // stuff here for using stuff from the db and inputting into the appropriate fields on the page
                console.log(list.rows);
                let items = list.rows;
                console.log(items.length);

                /*
                    Testing code for element creation and repeater

                */


                // list all of the user's items on their page

                for (let i = 0; i < items.length; i++) {

                    var containerDiv = document.createElement("div");
                    $(containerDiv).addClass("item-view");
                    document.getElementById("elem").appendChild(containerDiv);


                    // create image container
                    $(containerDiv).append("<div class=\"img-container\"></div>");


                    // container
                    var title_container = document.createElement("div");
                    $(title_container).addClass("title-container");


                    // title
                    var image_title = document.createElement("p");
                    $(image_title).text(items[i].title).addClass("img-title");


                    //component type
                    var component_type = document.createElement("p");
                    $(component_type).text(items[i].componentTypeDescription).addClass("comp-type");


                    // create description div and paragraph
                    var desc_holder = document.createElement("div");
                    $(desc_holder).addClass("desc-container");
                    var desc = document.createElement("p");
                    $(desc).text(items[i].description).addClass("desc");


                    // append all of the created elements
                    $(containerDiv).append(title_container);
                    $(title_container).append(image_title);
                    $(title_container).append(component_type);
                    $(desc_holder).append(desc);
                    $(containerDiv).append(desc_holder);

                }

            });


        </script>
        
    </body>

</html>