<!DOCTYPE html>

<html>

    {{> head}}

    <body>

        {{> header}}
        
        <section class="login-user">
            
            <div class="center-box">

                <div class="center-box"><h1 class="centered">Log in<br/><br/></h1></div>

                <div class="center-box">

                    <form method="post" action="/login">
                    
                    <div class="input-box">
                        <p>Email:</p>                   
                        <input type="email" name="email" required>
                    </div>

                    <div class="input-box">
                        <p>Password:</p>                    
                        <input type="password" name="passwd" required>
                    </div>

                    <div id="msg"></div>
                    <br />
                    <div class="input-box sub-btn">
                        <input type="submit" value="Log in">
                    </div>
                    
                    </form>

                </div>
                
            </div>
        
        
        </section>
        
    </body>

</html>