<!DOCTYPE html>

<html>
    
    {{> head}}

    <body>

        {{> header}}
        
        <section class="register-user">
            
            
            <div class="center-box">

                <div class="center-box"><h1 class="centered">Register <br/><br/></h1></div>

                <div class="center-box">
                    <form method="post" action="/register">
                    
                    <div class="input-box">
                        <p>Username:</p>                   
                        <input type="text" name="username" required>
                    </div>
                    <div class="input-box">
                        <p>Password:</p>                    
                        <input type="password" name="passwd" required>
                    </div>
                    <div class="input-box">
                        <p>Email:</p>
                        <input type="email" name="email" required>
                    </div>
                    <div id="msg"></div>
                    <br/>
                    <div class="input-box sub-btn">
                        <input type="submit" value="Sign up!">
                    </div>
                    
                    </form>
                </div>
                
            </div>
        
        
        
        </section>

        <script>

            function gup(name) {
                name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
                var regexS = "[\\?&]"+name+"=([^&#]*)";
                var regex = new RegExp(regexS);
                var results = regex.exec(window.location.href);
                if (results == null) {
                    return '';
                } else {
                    return results[1];
                }
            } 
            
            // -------- gup() - Get URL Param --------

            var msg = gup('msg');

            switch (msg) {

                case 'bad-email':
                    $('#msg').html('<p class="msg-text">Please input a valid email address.</p>');
                    break;
                case 'dupe-email':
                    $('#msg').html('<p class="msg-text">That email already exists - did you mean to <span><a href="/login" class="msg-link">log in?</a></span></p>');
                    break;
            }

        </script>

    
    </body>

</html>
    
    
    
    